<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/rangeSlider.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
        .slidecontainer {
            width: 100%;
        }

        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #04AA6D;
            cursor: pointer;
        }
    </style>

    <title>Edit Work Order</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/dashboard">
                        <img alt="Civil and Sanitary Works Office - De La Salle University" src="\images\dlsu.png" width="20"
                            height="20">
                    </a>
                </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                        <li><a href="/dashboard">Current Work Orders</a></li>
                        <li><a href="/neworder">Create New Work Order</a></li>
                        <li><a href="/summary">Report Summary</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/auditlog">Audit Logs</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">(Account Name) <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form action="/workorder/{{#each request}}{{_id}}{{/each}}/update" method="POST" class="needs-validation" id="submit_form">
        <div class="container">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="\images\dlsu.png" alt="" width="72" height="72">
                <h2>Civil Works and Sanitary Office</h2>
                <p class="lead">WORK ORDER (REFERENCE ID)</p>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-8 order-md-1">
                    <h4 class="mb-3">Request Information</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="location">Location</label>
                            <input type="text" class="form-control" name="location" id="location" placeholder="Location in Campus" value="{{#each request}}{{Location}}{{/each}}" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="item">Item</label>
                            <input type="text" class="form-control" id="item" name="item" placeholder="Item"  value="{{#each request}}{{Item}}{{/each}}" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="workCtg">Category of Work</label>
                            <select class="form-control" id="workCtg" name="workCtg" required>
                            <option value="{{#each request}}{{Category.CategoryName}}{{/each}}">{{#each request}}{{Category.CategoryName}}{{/each}}</option>
                            {{#each category}}
                            <option value="{{CategoryName}}">{{CategoryName}}</option>
                            {{/each}}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="workType">Type of Work</label>
                            <select class="form-control" id="workType" name="workType" required>
                            <option value="{{#each request}}{{Type.TypeName}}{{/each}}">{{#each request}}{{Type.TypeName}}{{/each}}</option>
                            {{#each type}}
                            <option value="{{TypeName}}">{{TypeName}}</option>
                            {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="form-group">
                                <label class="control-label" for="targetdate">Target Date of Completion</label>
                                <input class="form-control" id="targetdate" name="targetdate" placeholder="MM/DD/YYY" type="text" value="{{#each request}}{{DateTarget}}{{/each}}" required/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 mb-3">
                            <label for="details">Other Request Details:</label>
                            <textarea class="form-control" rows="3" name="details" id="details">{{#each request}}{{Details}}{{/each}}</textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="incharge">In Charge</label>
                            <select class="form-control" id="incharge" name="incharge" required>
                                <option value="{{#each request}}{{InCharge.FirstName}}{{/each}}">{{#each request}}{{InCharge.FirstName}}{{/each}}</option>
                                {{#each employee}}
                                <option value="{{FirstName}}">{{FirstName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="status">Status</label>
                            <select class="form-control" id="status" name="status" required>
                            <option value="{{#each request}}{{Status.StatusName}}{{/each}}">{{#each request}}{{Status.StatusName}}{{/each}}</option>
                            {{#each request}}
                            {{#ifEquals Status.StatusName 'Pending for Approval'}}
                            <option value="Approved">Approved</option>
                            {{/ifEquals}}

                            {{#ifEquals Status.StatusName 'Approved'}}
                            <option value="Completed">Completed</option>
                            {{/ifEquals}}
                            {{/each}}
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="remarksdetails" style="display: none;">
                        <div class="col-md-10 mb-3">
                            <label for="remarks">Action Taken / Remarks / Problems Encountered</label>
                            <textarea class="form-control" rows="3" name="remarks" id="remarks" placeholder="Enter Remarks here" value="Action taken/Remarks/Problems Encountered" required>{{#each request}}{{Remarks}}{{/each}}</textarea>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="workerdetails" style="display: none;">
                        <div class="col-md-10 mb-3">
                            <label for="workers">Workers</label>
                            <textarea class="form-control" rows="3" name="workers" id="workers" placeholder="Separate full names with a COMMA (e.g. <First Name> <Last Name>, <First Name> <Last Name>, <First Name> <Last Name>)" required>{{#each request}}{{#each Workers}}{{this}}, {{/each}}{{/each}}</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 order-md-2">
                    <h4 class="mb-3">Requester Information</h4>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="{{#each request}}{{Requester.FirstName}}{{/each}}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="{{#each request}}{{Requester.LastName}}{{/each}}">
                        </div>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="email">Email Address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" value="{{#each request}}{{Requester.Email}}{{/each}}">
                    </div>
                    <br>
                    <div class="mb-3">
                        <label for="address">Department or Office</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Department of Example" value="{{#each request}}{{Requester.Department}}{{/each}}">
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            
            <div class="row" id="evaluationdetails" style="display: none;">
                <div class="col-md-7 order-md-1">
                    <h4 class="mb-6">Evaluation by Requester</h4>
                    <label for="feedback">Detailed Feedback</label>
                    <textarea class="form-control" rows="15" name="feedback" id="feedback" placeholder="Enter Feedbacks here" value="" required>{{#each request}}{{Requester.Feedback.Remarks}}{{/each}}</textarea>
                </div>
                <div class="col-md-5 order-md-2">
                    <h4>Please rate the service rendered by CSWO using the following criteria:</h4>

                    <p>Response Time</p>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="5" value="0" step="1" class="slider" id="rangeSlider" required>
                        <p>Value: <span id="value"></span></p>
                    </div>
                    <br>

                    <p>Accuracy</p>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="5" value="0" step="1" class="slider" id="rangeSlider" required>
                        <p>Value: <span id="value"></span></p>
                    </div>
                    <br>

                    <p>Efficiency</p>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="5" value="0" step="1" class="slider" id="rangeSlider" required>
                        <p>Value: <span id="value"></span></p>
                    </div>
                    <br>

                    <p>Courtesy</p>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="5" value="0" step="1" class="slider" id="rangeSlider" required>
                        <p>Value: <span id="value"></span></p>
                    </div>

                </div>
            </div>
            <hr class="mb-4">
            <button id="update_btn" class="btn btn-success btn-lg btn-block" type="button" data-toggle="modal" data-target="#editConfirmModal">Update Work Order</button>
            <br>
            <br>
        </div>

        <div class="modal fade" id="editConfirmModal" tabindex="-1" role="dialog"
            aria-labelledby="editConfirmModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="editConfirmModalTitle">Update Work Order</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Do you want to save changes to the Work Order?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="save_btn" type="submit" class="btn btn-success">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function() {
            var length = $("#li_id").length;
            
            // Displaying additional details once status is changed to "Completed"
            $('#status').on('change', function(){
                var remarks = document.getElementById("remarksdetails");
                var evaluation = document.getElementById("evaluationdetails");
                var workers = document.getElementById("workerdetails");
                
                if($(this).val() == "Completed") {
                    remarks.style.display = "block";
                    evaluation.style.display = "block";
                    workers.style.display = "block";
                } else {
                    remarks.style.display = "none";
                    evaluation.style.display = "none";
                    workers.style.display = "none";
                }
            }).change(); 

            $(document.body).on("click", "#save_btn", function(){
                 $('#submit_form').submit();
            })

        });

        var slider = document.getElementById("rangeSlider");
        var output = document.getElementById("value");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = this.value + " - (Criteria)";
        }
   
    </script>
</body>
</html>
